<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="../index.css">
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
	</head>
	<body>
		<nav class="navbar navbar-default">
			<a onClick="javascript:history.back(-1)" class="navbar-brand">返回</a>
			<ul class="nav navbar-nav">
				
			</ul>
		</nav>

		<div id="content">
			<div id="records">
				<div class="record">
					<div class="record-title">
				      	<h2 class="title">{{entry.TITLE}}</h2>
					</div>
					<div id="sectitle">
						{{entry.TIME}}&nbsp<span>访问次数:{{entry.ACCESSNUM}}</span>&nbsp<a href="{{entry.HREF}}" target="view_window">访问原址</a>
					</div>
					<div id="detail" class="detail">
						{{{entry.CONTENT}}}
					</div>
				</div>
			</div>
		</div>


		<footer>
			<p>本站信息均订阅各大高校研究生招生网，仅供参考，准确信息以原网址内容为准。</p>
		</footer>
		<script src="../removeStyle.js"></script>
	</body>
</html>