<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="index.css">		
	</head>
	<body>
		<nav class="navbar navbar-default">
			<a href="/" class="navbar-brand">首页</a>
			<ul class="nav navbar-nav">
				<li class="nav-item">
			      <a class="nav-link" href="#">About</a>
			    </li>
			</ul>
		</nav>

		<div id="content">
			<h2 class="title">四川大学信息聚合平台</h2>
			<div id="records">
				{{#each entries}}
				<div class="record">
					<div class="record-title">
				      	<a href="article/{{_id}}">{{title}}</a>
					</div>
					<div>
						{{sectitle}}<a href="{{href}}" target="view_window">访问原址</a>
					</div>
					<div class="preview">
						<img class="previewImg" src="{{pic}}" alt="preview image">{{preview}}
					</div>
				</div>
				{{/each}}
			</div>
			<div id="pageindex" class="text-center">
				<span>第{{curPage.page}}/{{curPage.pagenumber}}页</span>
				{{#each pages}}
				<a href="{{page}}">{{page}}</a>
				{{/each}}
			</div>
		</div>


		<footer>
			<p>本站信息均订阅四川大学各学院官方网站，仅供参考，准确信息以原网址内容为准。</p>
		</footer>
	</body>
</html>