html, body {
	padding: 0;
	margin: 0;
}
#content {
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	max-width: 85%;
	margin: 65px auto 0 auto;
}
.title {
	color: rgba(110, 110, 110, 1);
	padding-bottom: 10px;
}
#records{
	border-bottom: 1px solid rgba(231, 231, 231, 1);
}
.record {
	padding-bottom: 20px;
	max-width: 768px;
}
.record-title {
	font-size: 18px;
}
.preview {
	padding-top: 10px;
}
.previewImg{
	width: 100%;
	height: 50%;
	padding-bottom: 10px;
}
footer {
	background-color: rgba(248, 248, 248, 1);
	text-align: center;
	border-top: solid 1px rgba(231, 231, 231, 1);
	color: #333;
}

footer p {
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
}
#pageIndex{
	margin-top: 10px;
	margin-bottom: 10px;
}
#detail {
	margin-top: 18px;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	font-size: 16px;
}
.dropdown-toggle {
	margin-top: 5px;
}
.navbar {
	position: fixed;
	top: 0px;
	width: 100%;
}